<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Mot de passe changé sur Wulo Events.</title>
    <meta name="description" content="Mot de passe changé sur Wulo Events..">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!-- 100% body table -->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px; margin:0 auto;" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:100px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:50px;">&nbsp;</td>
                            </tr>
                            <td style="text-align:center;">
                                <a href="#" title="logo" target="_blank">
                                    <img width="170"
                                         src="https://i.ibb.co/pdzKtq4/Capture-d-cran-du-2023-01-02-19-52-58.png"
                                         title="Logo Wulo Events"
                                         alt="Logo Wulo Events">
                                </a>
                            </td>
                            <tr>
                                <td style="height:30px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1
                                            style=" text-align:left; margin-left: 10px; color:#1e1e2d; font-weight:bold; font-size:22px;font-family:'Rubik',sans-serif;">
                                        Mot de passe changé.
                                    </h1>
                                    <p
                                            style="font-size:15px; color:#455056; margin:30px 12px 0; line-height:24px; text-align: left;">
                                        Votre mot de passe a été changé sur <strong>Wulo
                                        Events</strong>, comme vous l' avez demandé.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 45px; text-align: justify;">
                                    <p
                                            style="font-style: italic; font-weight: 700; font-size:14px; color:#455056; margin:20px 5px 30px; line-height:20px;">
                                        Si vous n' avez pas fait de demande de changement de votre mot de passe, nous
                                        somme là pour vous aider à garder votre compte en sécurité. Veuillez contacter
                                        notre support à l' adresse: <a href="mailto:support@wuloevents.com" style="font-style: oblique; font-weight: 600">support@wuloevents.com</a>.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <p
                                            style="font-size:16px; font-weight: bold; color:#455056; margin:7px 15px 40px; line-height:24px; text-align: left;">
                                        Cordialement, Wulo Events.
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:25px;">&nbsp;</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p
                                style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; 2024 | <strong>Equipe Wulo Events</strong> | Tous droits Réservés.</p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>

</html>