<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Billets Générés - Wulo Events</title>
    <meta name="description" content="Billets Générés - Wulo Events">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!-- 100% body table -->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px; margin:0 auto;" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:100px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:50px;">&nbsp;</td>
                            </tr>
                            <td style="text-align:center;">
                                <a href="#" title="logo" target="_blank">
                                    <img width="85"
                                         src="https://wulo-events.s3.eu-north-1.amazonaws.com/assets/logo.jpg"
                                         title="logo"
                                         alt="logo">
                                </a>
                            </td>
                            <tr>
                                <td style="height:50px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1
                                            style=" text-align:left; margin-left: 10px; color:#15418B; font-weight:bold; font-size:23px;font-family:'Rubik',sans-serif;">
                                        Vos billets sont prêts !
                                    </h1>
                                    <p
                                            style="font-size:15px; color:#455056; margin:30px 12px 0; line-height:24px; text-align: left;">
                                        {#                                        <strong style="font-size: 16px;">Bonjour Cher {{ fullName }}</strong>.#}
                                        <strong style="font-size: 16px;">Bonjour cher utilisateur</strong>.
                                        <br/><br/>
                                        Vos billets pour la commande <strong>{{ orderId }}</strong> sont désormais
                                        disponibles.
                                        <br/><br/>
                                        Veuillez trouver vos billets ci-joint en attachement. Nous sommes impatients de
                                        vous accueillir à l'événement.
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding:0 35px;">
                                    <p
                                            style="font-size:15px; color:#455056; margin:30px 12px 0; line-height:24px; text-align: left;">
                                        Si vous avez des questions ou besoin d'aide, notre équipe de support est là pour
                                        vous. N'hésitez pas à visiter notre Centre d'Aide :
                                        <a
                                                href="https://wuloevents.com/support"
                                                style="font-weight: 600; color: #15418B;"
                                        >Centre D'Aide</a>.
                                        <br/>
                                        P.S. N'oubliez pas de nous suivre sur les réseaux sociaux pour les dernières
                                        mises à jour et des conseils sur la gestion d'événements.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <p
                                            style="font-size:18px; font-weight: bold; color:#15418B; margin:18px 15px 40px; line-height:24px; text-align: left;">
                                        Cordialement, Wulo Events.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p
                                style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; 2024 | <strong>Equipe Wulo Events</strong> | Tous droits Réservés.</p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>

</html>
