<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Email de Bienvenu sur Wulo Events.</title>
    <meta name="description" content="Email de Bienvenu sur Wulo Events..">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!-- 100% body table -->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px; margin:0 auto;" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:100px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:50px;">&nbsp;</td>
                            </tr>
                            <td style="text-align:center;">
                                <a href="#" title="logo" target="_blank">
                                    <img width="170"
                                         src="https://i.ibb.co/pdzKtq4/Capture-d-cran-du-2023-01-02-19-52-58.png"
                                         title="logo"
                                         alt="logo">
                                </a>
                            </td>
                            <tr>
                                <td style="height:30px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1
                                            style=" text-align:left; margin-left: 10px; color:#1e1e2d; font-weight:bold; font-size:23px;font-family:'Rubik',sans-serif;">
                                        Bienvenu sur Wulo Events.
                                    </h1>
                                    <p
                                            style="font-size:15px; color:#455056; margin:30px 12px 0; line-height:24px; text-align: left;">
                                        <strong style="font-size: 16px;">Bonjour Cher {{ fullName }}</strong>.
                                        <br/><br/>
                                        Nous sommes ravis de vous compter parmi nous. <strong>Wulo
                                        Events</strong> est votre solution idéale pour une gestion d' événements sans
                                        souci, et nous avons hâte de vous aider à créer et à gérer des événements
                                        incroyables.
                                        <br/><br/>
                                        Si vous avez un bout de temps, veuillez valider votre compte. Vous aurez ainsi
                                        un accès complet à toutes les fonctionnalités de notre application.
                                        <br/><br/>
                                        <strong style="font-size: 16px;">
                                            Une fois votre compte validé, vous pourrez :
                                        </strong>.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 45px; text-align: justify;">
                                    <ul style="font-size:15px; color:#455056; margin:15px 10px 0; line-height:24px; text-align: left;">
                                        <li>
                                            Créer une organisation et envoyer des invitations à des collaborateurs pour
                                            manager votre compte Organisateur;
                                        </li>
                                        <li>
                                            Créer et gérer des événements pour votre organisation en toute simplicité;
                                        </li>
                                        <li>
                                            Créer, Manager et Vendre des tickets pour vos évènements;
                                        </li>
                                        <li>
                                            Accéder à des analyses, des statistiques et des rapports sur les
                                            interactions avec vos évènement;
                                        </li>
                                        <li>
                                            Demander le retrait en toute simplicité, de manière fiable et sécurisée vos
                                            revenus sur la vente te tickets.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <p
                                            style="font-size:15px; color:#455056; margin:30px 12px 0; line-height:24px; text-align: left;">
                                        Si vous avez des questions ou besoin d' aide, notre équipe de support est là
                                        pour vous. N' hésitez pas à visiter notre Centre d'Aide :
                                        <a
                                                href="https://wuloevents.com/support"
                                                style="font-weight: 600"
                                        >Centre D' Aide</a>.
                                        <br/>
                                        P.S. N' oubliez pas de nous suivre sur les réseaux sociaux pour les dernières
                                        mises à jour et des conseils sur la gestion d' événements.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 45px; text-align: justify;">
                                    <p
                                            style="font-style: italic; font-weight: 700; font-size:14px; color:#455056; margin:35px 5px 30px; line-height:20px;">
                                        WuloEvents n' enverra jamais d'e-mail vous demandant de divulguer ou de
                                        vérifier votre mot de passe, votre carte de crédit ou votre numéro de compte
                                        bancaire. Si vous n' êtes pas inscrit sur Wulo Events, veuillez contacter
                                        notre support à l' adresse: <a href="mailto:support@wuloevents.com"
                                                                       style="font-style: oblique; font-weight: 600">support@wuloevents.com</a>.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <p
                                            style="font-size:16px; font-weight: bold; color:#455056; margin:7px 15px 40px; line-height:24px; text-align: left;">
                                        Cordialement, Wulo Events.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px;">&nbsp;</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p
                                style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; 2024 | <strong>Equipe Wulo Events</strong> | Tous droits Réservés.</p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>

</html>